[Unit]
Description=Web Socket Chat Server

[Service]
ExecStart=/var/www/websocket-chat-server/server/index.js
Restart=always
User=ubuntu
Group=ubuntu
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/websocket-chat-server/server/

[Install]
WantedBy=multi-user.target
